/*reset*/
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Hiragino Maru Gothic Pro W4', 'ヒラギノ丸ゴ Pro W4', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p{
  margin:10px;
}
.container{
  width:1170px;
  margin:0 auto;
}
.white-back{
  background-color: rgb(250, 241, 230,0.9);
  border-radius: 3%;
  box-shadow: 10px 10px #3D528E;

}
.main{
  width: 74%;
  margin:25px;
  padding: 15px;
}
aside{
  width:22%;
  margin-top:25px;
  padding:15px;
}
.flex{
  display: flex;
}
/*font*/
.normal
{
  font-size:1.2rem;
}

/*toppage*/
.toppage{
  background: url(img/toppage.png) no-repeat top/cover;
  padding-top:20vh;
  padding-left:45vw;
  padding-bottom:20vh;

}

/*top-menu*/
h1{
  color: #0E5D7D;
   font-size: 2.5rem;
}
.menu{
  margin-top:15vh;
  margin-left: 10vw;
  font-size: 1.8rem;
}
.menu a{
  display: inline-block;
  color: #3D528E;
  margin-bottom:0.5rem;
}
/*main menu*/
.logo{
  height: 80px;
  padding: 10px auto;
  margin-top:14px;
}
.mainmenu{
  display: flex;
  height:100px;
}
.menubar{
  display: flex;
  margin-left: 100px;
 
}

.menubar a{
  display: inline-block;
  padding: 25px 13px;
  font-size: 20px;
  margin: 20px auto 10px;
  color: #0E5D7D;
}
.social a{
  display: inline-block;
  padding: 25px 13px;
  font-size: 20px;
  margin: 20px auto 10px;
  color: #0E5D7D;
}
/*page*/
body{
  background-image: url(img/backimage.png);
  background-position: center;
}
.co-info h2{
  border-bottom: 1px solid #0E5D7D;
  border-left: 4px solid #0E5D7D;
  margin-right:50%;
  margin-top:20px;
  padding-left: 10px;

}
.gaiyo{
  padding: 10px;
  margin:10px;
}
.main h2{
  text-align: center;
  background-color: rgb(14, 93, 125, 0.5);
  color:white;
  margin: 20px 0;
}
.main h3{
  border-bottom: 2px solid #0E5D7D;
  margin:15px 10px;
}
.contact{
  padding-left:30px;
}
.news{
  padding:20px;
  border-bottom: solid 2px #0E5D7D;
}
.news img{
  width:100%;
}
.date{
  margin-left:20px;
  font-size: 0.5rem;
}
/*befamily*/
.family{
  display: flex;
}
.family img{
  flex: auto;
  width:23%;
  padding:5px;
}
.process{
  margin:10px;
}
.process li{
  list-style-type: decimal;
  list-style-position: inside;
  margin-bottom:10px;
}

.support img{
  flex:auto;
  width: 30%;
  margin-top:20px;

}
.support div{
  flex:auto;
  margin:10px;
}
/*support*/
.bank{
  font-size:20px;
  font-weight: bold;
  border: 2px dotted rgba(61, 82, 142, 0.5);
  padding: 15px 10px;
  margin-top:20px;
  text-align: center;
}
/*sidebar*/
.sidebarborder{
 border-bottom: solid 0.5px rgba(14, 93, 125, 0.3);
 text-align: center;
 margin:10px auto;
 
}

.volunteer a{
  display: inline-block;
  padding:15px;
  margin:15px;
  font-size: 20px;
  color: #0E5D7D;
  font-weight: bold;
}
.flex>li{
  flex:auto;
  margin: 0 auto;
}
/*button*/
.button a{
  display: inline-block;
  background-color: rgba(14, 93, 124, 0.863);
  padding:15px;
  color: white;
  box-shadow: 0px 10px #3D528E;
  margin:15px;
}

.button a:hover{
  background-color: rgba(14, 93, 124, 0.5);
  box-shadow: 0px 10px rgba(61, 82, 142,0.7);
}
.button a:active{
  box-shadow: none;
  position:relative;
  top:10px;
}
.button a:visited{
  color: white;
}
/*form*/
form{
  background-color: rgba(255, 255, 255,0.5);
  padding:10px;
  margin:30px 20px;
  font-size:20px;
}
form>div{
  margin-top:10px;
}
label{
  display:inline-block;
}
input[type="text"],input[type="email"]{
  width:100%;
  max-width:240px;
  height:30px;
  margin-left:5%;
}
textarea{
  width:90%;
  height:6rem;
  margin-top:10px;
  margin-left:5%;
}
input[type="submit"]{
  cursor: pointer;
  line-height: 1;
  background-color: #0E5D7D;
  color:white;
  border:none;
  padding:10px;
  border-radius: 5%;
  font-size:20px;
  margin:30px 10%;
  
}
.radio{
  margin:2.5% 5%;
}


